<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<h1>Usuários</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
				<a class="btn btn-primary pull-right" href="<%= new_user_path %>" role="button">
					Novo Usuário
				</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= datagrid_table @grid %>
			<%= paginate(@grid.assets) %>
		</div>
	</div>

</div>