<%= simple_form_for @material, defaults: { input_html: {class: 'form-control'}} do |f| %>

  <div class="col-xs-6">

  	<div class="form-group">
      <label for="">Nome</label>
      <%= f.input :name, label: false %>
    </div>

    <div class="form-group">
    	<button type="submit" class="btn btn-primary pull-right">Salvar</button>
    </div>

  </div>

<% end %>